extends layout

block head
  mixin requirejs("/assets/js/pages/index")

block content

  section.header
      header
        include includes/nav/main

  section#main(role="main", class="main")
    div(id="home", class="content-module middle home", ng-controller="bpn.controllers.homepage.Main")
      //- h1.headline bitponics is your personal gardening assistant.
      div(class="flexslider")
        ul(class="slides")
          li.hero-slide(style="background-image:url('/assets/img/home/Bitponics_Hssld_H4D_0159_flip.jpg')")
            != CDN('/assets/img/home/Bitponics_Hssld_H4D_0159_flip.jpg', { 'alt': 'Bitponics', 'class' : "hero-img" })
            .hero-text
              h2(class="headline flex-caption")
                | <i class="icon-glyph icon-glyphlogo-new icon-__63_logo_white" aria-hidden="true"></i>
                | bitponics connects your garden to the world.
              .notice
                h3 Notice: bitponics suspended development on December 31, 2014. 
                p Startups are risky endeavors, and they don't always turn out as planned. Unfortunately, bitponics ran out of resources before we could deliver our vision of a thriving garden in every home. But we still believe in the mission of open-source gardening. We encourage you to download and explore our  
                  a(href="https://github.com/bitponics", class="underline-link") web server & front-end codebase
                  |  as well as our 
                  a(href="https://github.com/Bitponics/Bitponics-Open-Hardware", class="underline-link") hardware schematics & firmware
                  |  on 
                  a(href="https://github.com/Bitponics", class="underline-link") Github
                  | . 
                p
                  | We welcome conversations with anyone interested in carrying the mission forward. Hit us up at 
                  a(href="mailto:hello@bitponics.com", class="underline-link") hello@bitponics.com
                  | . 
                p
                  | - Amit Kumar
          //- li
          //-   h2(class="headline flex-caption")
          //-     | the device and firmware will be open source, allowing you to adapt the device and use your data however you like.
          //-   img(src="/assets/img/home/Bitponics_Hssld_H4D_0157.jpg")
          //- li
          //-   h2(class="headline flex-caption")
          //-     | what could we learn by looking at past growing histories, comparing them to current results?
          //-   img(src="/assets/img/home/Bitponics_Hssld_H4D_0158.jpg")
          //- li
          //-   h2(class="headline flex-caption")
          //-     | examine how each environmental factor played its part in your plants' health.
          //-   img(src="/assets/img/home/Bitponics_Hssld_H4D_0159.jpg")
          

block footer-scripts
  
